<div class="cars">
    <div class="messege">
        <h3>Машини вже в дорозі</h3>
    </div>
    <div class="selectVehicle">
        <div class="box">
            <img class="boxImg" src="../../../assets/img/toyota.jpg" alt="">
            <div class="description">
            <p class="desc">Toyota Camry 2019</p>
            <p class="volume"><i class="marg fas fa-gas-pump"></i>3.5</p>
            <p class="price">2000₴</p>
            <div class="char">
                <p>  <i class="marg fas fa-cog"></i>Автомат</p>
                <p> <i class=" marg leftSide fas fa-calendar-alt"></i>2019</p>
            </div>
        </div>
        <button class="details">MORE</button>
        </div>
        <div class="box">
            <img class="boxImg" src="../../../assets/img/bmw5.jpg" alt="">
            <div class="description">
            <p class="desc">BMW 520 2008</p>
            <p class="volume"><i class="marg fas fa-gas-pump"></i>2.0</p>
            <p class="price">1250₴</p>
            <div class="char">
                <p>  <i class="marg fas fa-cog"></i>Автомат</p>
                <p> <i class=" marg leftSide fas fa-calendar-alt"></i>2008</p>
            </div>
        </div>
        <button class="details">MORE</button>
        </div>
        <div class="box">
            <img class="boxImg" src="../../../assets/img/fordExp.jpg" alt="">
            <div class="description">
            <p class="desc">Ford Explorer 2017</p>
            <p class="volume"><i class="marg fas fa-gas-pump"></i>3.6</p>
            <p class="price">3350₴</p>
            <div class="char">
                <p>  <i class="marg fas fa-cog"></i>Автомат</p>
                <p> <i class=" marg leftSide fas fa-calendar-alt"></i>2017</p>
            </div>
        </div>
        <button class="details">MORE</button>
        </div>
        <div class="box">
            <img class="boxImg" src="../../../assets/img/chevi.jpeg" alt="">
            <div class="description">
            <p class="desc">Chevrolet Corvette 2020</p>
            <p class="volume"><i class="marg fas fa-gas-pump"></i>6.2</p>
            <p class="price">28750₴</p>
            <div class="char">
                <p>  <i class="marg fas fa-cog"></i>Автомат</p>
                <p> <i class=" marg leftSide fas fa-calendar-alt"></i>2020</p>
            </div>
        </div>
        <button class="details">MORE</button>
        </div>
        <div class="box">
            <img class="boxImg" src="../../../assets/img/gclass.jpg" alt="">
            <div class="description">
            <p class="desc">Mercede-Benz G63 AMG 2017</p>
            <p class="volume"><i class="marg fas fa-gas-pump"></i>5.5</p>
            <p class="price">5000₴</p>
            <div class="char">
                <p>  <i class="marg fas fa-cog"></i>Автомат</p>
                <p> <i class=" marg leftSide fas fa-calendar-alt"></i>2017</p>
            </div>
        </div>
        <button class="details">MORE</button>
        </div>
        <div class="box">
            <img class="boxImg" src="../../../assets/img/cruiser.jpg" alt="">
            <div class="description">
            <p class="desc">Toyota Land-Cruiser 2016</p>
            <p class="volume"><i class="marg fas fa-gas-pump"></i>4.8</p>
            <p class="price">2900₴</p>
            <div class="char">
                <p>  <i class="marg fas fa-cog"></i>Автомат</p>
                <p> <i class=" marg leftSide fas fa-calendar-alt"></i>2016</p>
            </div>
        </div>
        <button class="details">MORE</button>
        </div>
        
    </div>
</div>