<footer>
    <div class="logotype">
        <div class="left">
            <div class="logo">
                <img class="fooImg" src="../../../assets/img/unnamed.png" alt="">
                <p>CarDevi</p>
            </div>
            <p>Бренд-компанія CarDevi, має багаторічний успішний досвід імпорту автомобілів і спецтехніки з США і Європи. У нас працюють висококваліфіковані досвідчені спеціалісти, які цінують індивідуальні особливості кожного клієнта і роблять все щоб авто в найкоротші строки потрапило до свого власника.</p>
        </div>
        <div class="rigth">
            <div class="moreInfo">
           
                <div class="first">
                    <h2>НОВИНИ</h2>
                    <p><i class="clr fas fa-newspaper"></i>20 Автомобілів під ключ із США вартістю до 8000$</p>
                    <p><i class="clr fas fa-newspaper"></i>Детальний огляд авто Nissan Leaf характеристики, комплектації та ціна</p>
                </div> 
                <div class="second">
                    <h2>СОЦ.МЕРЕЖІ</h2>
                    <div class="media">
                        <p>Слідкуйте за нами</p>
                        <ul>
                            <li><a href="https://www.instagram.com/"><img src="../../../assets/img/instagram (1).png" alt=""></a></li>
                            <li><a href="https://www.facebook.com/"><img src="../../../assets/img/facebook (2).png" alt=""></a></li>
                            <li><a href="https://www.google.com/"><img src="../../../assets/img/gmail.png" alt=""></a></li>
                        </ul>
                        
                        
                    </div>
                </div> 
            </div>
        </div>
    </div>
</footer>
