<header>
    <div class="logo">
     
        <img src="assets/img/unnamed.png" alt="">
        <a [routerLink]="[ '/home']"><p class="title">CarDevi</p></a>
    </div>
    <div class="nav">
        <ul>
            <a [routerLink]="[ '/new-cars']"  routerLinkActive="active"><li>Новинки</li></a>
            <a [routerLink]="[ '/buy']"  routerLinkActive="active"><li>Аукціон</li></a>
            <a [routerLink]="[ '/preorder' ]"  routerLinkActive="active"><li>Замовити</li></a>
            <a [routerLink]="[ '/about']"  routerLinkActive="active"><li>Про нас</li></a>
            <a [routerLink]="[ '/home']"  routerLinkActive="active"><li>Головна</li></a>
        </ul>
    </div>
</header>