<div class="buyIt">
    <h2>Купити машину в один клік</h2>
    <div class="decor"></div>
    <div class="item">
        <h3><span class="yel">Зараз на аукціоні :</span> BMW M3 2017</h3>
        <img src="../../../assets/img/settings.svg" class="settings" alt="">
        <div class="box">
            <img class="boxImg" src="../../../assets/img/layba.jpg" alt="">
            <div class="description">
            <p class="desc">BMW M3 2016</p>
            <p class="volume"><i class="marg fas fa-gas-pump"></i>3.0</p>
            <p class="price">Ціна: 6000₴</p>
            <div class="char">
                <p>  <i class="marg fas fa-cog"></i>Автомат</p>
                <p> <i class=" marg fas fa-calendar-alt"></i>2016</p>
            </div>
        </div>
        <div class="btn">
            <button class="next">Наступна</button>
            <button class="buy">Купити</button>
        </div>
        </div>
    </div>
    <h2 class="timer">Залишилось часу : 2д. 15год 35хв</h2>
    <div class="divDote">
        <div class="dote"></div>
        <div class="dote"></div>
        <div class="dote"></div>
    </div>
    <div class="review">
        <h2>Детальний огляд машини</h2>
        <div class="video">
            <iframe class="video1"  src="https://www.youtube.com/embed/A22OmkAwUWc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</div>