<div class="about">
    <h1>Хто ми?</h1>
    <div class="author">
        <div class="photo">
            <img class="myPhoto" src="../../../assets/img/photo4053703740600985513.jpg" alt="">
            <p class="sign">Любомир Хахула</p>
        </div>
        <div class="text">
                <p>Компанія <span class="stl">CarDevi</span> була створена в 2021 році Бренд-компанія  CarDevi, має багаторічний успішний досвід імпорту автомобілів і спецтехніки з США і Європи. У нас працюють висококваліфіковані досвідчені спеціалісти, які цінують індивідуальні особливості кожного клієнта і роблять все щоб авто в найкоротші строки потрапило до свого власника. </p>
        </div>
    </div>
    <div class="contact">
        <h1>Контакти</h1>
        <div class="container">
        <div class="left">
            <div class="cont">
                 <p> <i class=" merg fas fa-phone-alt"></i>(068)-767-88-20</p>
                <p><i class=" merg fas fa-envelope"></i>cardevi@gmail.com</p>
                <p><i class="merg fas fa-map-marker-alt"></i>м.Львів,вул Кульпарківська</p>
            </div>
        </div> 
        <div class="right">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d10299.724628699765!2d23.98511490371236!3d49.80616191207304!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1suk!2sua!4v1621538675649!5m2!1suk!2sua" class="stlMap" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div> 
    </div>
    </div>
</div>
