<div class="order">
    <h2>Записатись до спеціаліста</h2>
    <div class="form">
        <div class="container">
        <p>Ім'я</p>
        <input class="stl" type="text" placeholder="Введіть ім'я...">
        <p>Ел.пошта</p>
        <input class="stl" type="email"  placeholder="Введіть email...">
        <p>Номер тел.</p>
        <input class="stl" type="number" placeholder="Введіть номер тел.">
        <p>Бюджет</p>
        <input class="stl" type="number"  placeholder="Введіть бюджет...">
        <p>З якого ви міста?</p>
        <select name="" id="">
            <option value="" selected>Львів</option>
            <option value="">Київ</option>
            <option value="">Харків</option>
            <option value="">Одеса</option>
            <option value="">Запоріжжя</option>
            <option value="">Ужгород</option>
            <option value="">Суми</option>
            <option value="">Донецьк</option>
            <option value="">Луганськ</option>
            <option value="">Рівне</option>
            <option value="">Луцьк</option>
            <option value="">Вінниця</option>
            <option value="">Тернопіль</option>
            <option value="">Полтава</option>
            <option value="">Хмельницьк</option>
            <option value="">Умань</option>
            <option value="">Інше</option>
        </select>
        <p>Коли з вами зв'язатись?</p>
        <input class="stl" type="week">
        <div class="btns">
            <button class="record ">ЗАПИСАТИСЬ</button>
        </div>
    </div>

    </div>
    <h2 class="fake"></h2>
</div>